.block-guest-class {
  display: grid;
  row-gap: 16px;

  &__panel {
    padding: 16px 12px;
    background-color: rgb(var(--app-color-light));
    border-radius: 12px;
    display: grid;
    row-gap: 24px;
  }

  &__rooms {
    display: grid;
    row-gap: 24px;
    max-height: 400px;
    overflow-y: auto;
  }

  &__room {
    display: grid;
    row-gap: 8px;
  }

  &__counter-list {
    display: grid;
    row-gap: 14px;
  }

  &__children {
    display: grid;
    row-gap: 12px;
  }

  &__children-selects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
