@use '@/style/03-mixins/common.mixins' as common;

:root {
  --modal-aside-content-padding: 0;
  --modal-aside-position: left;
  --modal-aside-width: 100%;
}

@keyframes slide {
  to {
    transform: translateX(0);
  }
}

@mixin positionModal($position: left) {
  #{$position}: 0;
  @if ($position == left) {
    transform: translateX(calc(-1 * var(--modal-aside-width)));
  } @else {
    transform: translateX(var(--modal-aside-width));
  }
}

.modal-aside {
  position: fixed;
  inset: 0;
  opacity: 0;
  animation: show 0.25s ease forwards;
  z-index: 10;

  @include common.media(tablet) {
    --modal-aside-width: 400px;
  }

  &:not(.modal-aside--position-right) &__box {
    @include common.media(tablet) {
      @include positionModal();
    }
  }

  &--position-right &__box {
    @include common.media(tablet) {
      @include positionModal(right);
    }
  }

  &__box {
    position: absolute;
    inset: 0 auto 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    background-color: rgb(var(--app-color-dark-light));
    transform: translateX(0);

    @include common.media(mobile_md) {
      max-width: var(--modal-aside-width);
      animation: slide 0.25s ease forwards;
    }
  }
}
