@use '@/style/03-mixins/common.mixins' as common;

.block-hotels {
  padding-block: 40px;

  &__container {
    display: grid;
    row-gap: 20px;
  }

  &__content {
    max-width: 800px;
    width: 100%;
    display: grid;
    row-gap: 10px;
  }

  &__filter-toggler-container {
    @include common.media(tablet_md) {
      display: none;
    }
  }

  &__grid {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    column-gap: 30px;

    @include common.media(tablet_md) {
      grid-template-columns: 280px 1fr;
    }
  }

  &__sidebar-filter {
    display: none;

    @include common.media(tablet_md) {
      display: grid;
    }
  }

  &__list {
    display: grid;
    row-gap: 24px;
  }
}

.filter-toggler-btn {
  &__counter {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(var(--app-color-light));
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--app-color-primary));
    font-size: var(--app-text-size-xs);
    font-weight: 800;
  }
}
