@use '@/style/03-mixins/common.mixins' as common;

.filter-panel {
  position: fixed;
  inset: 0 auto 0 0;
  height: 100dvh;
  z-index: 10;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;

  @include common.media(tablet) {
    max-width: 520px;
  }

  &__heading {
    padding: 12px;
    background-color: rgb(var(--app-color-light));
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
    padding: 16px;
    overflow-y: auto;
    background-color: rgb(var(--app-color-dark-light));
  }

  &__bottom {
    padding: 12px;
    background-color: rgb(var(--app-color-light));
  }

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
