@use '@/style/03-mixins/common.mixins' as common;

.filter-toggler {
  --app-filter-toggler-label-top-position: 15px;
  --app-filter-toggler-label-transform: none;
  --app-filter-toggler-label-max-width: calc(
    100% - var(--app-filter-toggler-label-top-position)
  );
  --app-filter-toggler-button-height: 50px;
  --app-filter-toggler-button-padding: 18px 30px 10px 12px;
  --app-filter-toggler-button-border-color: transparent;
  --app-filter-toggler-button-border-radius: 10px;

  position: relative;
  color: rgb(var(--app-color-black));

  border-radius: var(--app-filter-toggler-button-border-radius);

  @include common.media(tablet) {
    --app-filter-toggler-label-top-position: 24px;
    --app-filter-toggler-button-height: 70px;
    --app-filter-toggler-button-padding: 30px 40px 14px 12px;
  }

  &--focused,
  &--filled {
    --app-filter-toggler-label-transform: translateY(-12px) scale(0.75);
    --app-filter-toggler-label-max-width: calc(
      133% - var(--app-filter-toggler-label-top-position)
    );

    @include common.media(tablet) {
      --app-filter-toggler-label-transform: translateY(-8px) scale(0.75);
    }
  }

  &--focused {
    --app-filter-toggler-button-border-color: rgb(0 0 0);
  }

  &__label {
    position: absolute;
    left: 12px;
    top: var(--app-filter-toggler-label-top-position);
    max-width: var(--app-filter-toggler-label-max-width);
    font-size: var(--app-text-size-sm);
    pointer-events: none;
    transform-origin: top left;
    color: currentColor;
    z-index: 1;
    font-weight: 400;
    transform: var(--app-filter-toggler-label-transform);

    @include common.media(tablet) {
      font-size: var(--app-text-size-base);
    }
  }

  &__button {
    min-height: var(--app-filter-toggler-button-height);
    padding: var(--app-filter-toggler-button-padding);
    border-radius: var(--app-filter-toggler-button-border-radius);
    border-color: var(--app-filter-toggler-button-border-color);
    background-color: rgb(var(--app-color-dark-light));
    font-size: inherit;
    width: 100%;
    font-weight: 800;
    border-width: 2px;
    border-style: solid;
    outline: none;
    color: inherit;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
    justify-content: flex-start;
  }

  &__text-field {
    .text-field__input {
      padding-block: 18px 10px;

      @include common.media(tablet) {
        padding-block: 30px 14px;
      }
    }
  }
}
