.field-placeholder {
  display: grid;
  align-items: center;
  row-gap: 4px;
  max-width: 100%;
  width: auto;
  min-width: 0;
  height: 36px;
  border-radius: 12px;
  padding-inline: 12px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: rgb(var(--app-color-black));
  background-color: rgb(var(--app-color-dark-light));

  &__title {
    width: 100%;
    min-width: 0;
    font-weight: 800;
    line-height: 1.4;
    font-size: var(--app-text-size-sm);
  }

  &__description {
    font-size: var(--app-text-size-sm);
  }
}
