.counter {
  display: grid;
  align-items: center;
  justify-content: space-between;
  column-gap: 4px;
  grid-template-columns: repeat(3, 48px);

  &__middle {
    display: grid;
    row-gap: 4px;
  }

  &__value {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }

  &__title {
    font-size: var(--app-text-size-xs);
    text-align: center;
  }

  &__button {
    width: 48px;
    height: 48px;
    font-weight: 800;
    padding-inline: 10px;
    border-radius: 50%;
  }

  &__field {
    width: 48px;
    height: 48px;
    background-color: transparent;

    .text-field {
      &__input {
        min-height: 100%;
        border: none;
        background-color: transparent;
        font-size: var(--app-text-size-base);
        text-align: center;
        font-weight: 800;
        padding: 10px;
        text-align: center;
        pointer-events: none;
      }
    }
  }
}
