:root {
  --app-color-light: 255 255 255;
  --app-color-black: 0 0 0;
  --app-color-grey: 103 103 103;
  --app-color-dark-light: 247 244 243;

  --app-color-dark: 3 38 59;
  --app-color-primary: 11 60 128;
  --app-color-primary-dark: 7 50 110;
  --app-color-secondary: 255 92 0;
  --app-color-secondary-dark: 229 82 0;

  --app-color-blue-light: 231 235 242;
  --app-color-red: 168 42 48;

  --app-base-bg: rgb(var(--app-color-dark-light));
}
