@use '@/style/03-mixins/common.mixins' as common;

@mixin filter_item {
  flex-grow: 1;
  max-width: 100%;
  width: auto;
  flex-basis: 100%;

  @include common.media(tablet_md) {
    flex-basis: 0px;
  }
}

.top-search {
  --grid-gap: 8px;

  padding-block: 8px;
  background-color: rgb(var(--app-color-light));

  &__container {
    display: grid;
    row-gap: 12px;
  }

  &__toggler {
    display: none;
    justify-content: flex-end;
  }

  &__toggler--visible {
    display: flex;
  }

  &__filters {
    display: none;
    min-width: 0px;
    align-items: flex-start;
    flex-flow: wrap;
    gap: var(--grid-gap);

    .filter-toggler {
      @include filter_item;
    }
  }

  &__search-btn {
    width: 100%;

    @include common.media(tablet_md) {
      width: auto;
    }
  }

  &__filters--visible {
    display: flex;
  }

  &__placeholders {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 90px;
    align-items: center;
    gap: var(--grid-gap);
    background-color: rgb(var(--app-color-dark-light));
    border-radius: 12px;
    padding: 10px 12px;

    @include common.media(tablet_md) {
      background-color: transparent;
      padding: 0;
    }
  }

  &__placeholders--hide {
    display: none;
  }

  &__placeholders-grid {
    display: none;
    align-items: flex-start;
    flex-flow: wrap;
    gap: var(--grid-gap);
    align-items: center;

    @include common.media(tablet_md) {
      display: flex;
    }

    .field-placeholder {
      @include filter_item;
    }
  }

  &__placeholders-btn {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__placeholder-common {
    padding-inline: 0;

    @include common.media(tablet_md) {
      display: none;
      padding-inline: 12px;
    }
  }
}
