@use '@/style/03-mixins/common.mixins' as common;

:root {
  --app-button-color: rgb(var(--app-color-light));
  --app-button-bg: rgb(var(--app-color-primary));
  --app-button-border-color: rgb(var(--app-color-primary));
  --app-button-border-radius: 16px;
  --app-button-height: 32px;
  --app-button-padding-inline: 16px;
  --app-button-font-size: var(--app-text-size-sm);
}

.btn {
  @include common.animate(color background-color);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
  color: var(--app-button-color);
  border-width: 2px;
  border-style: solid;
  font-weight: 800;
  background-color: var(--app-button-bg);
  font-size: var(--app-button-font-size);
  padding-inline: var(--app-button-padding-inline);
  height: var(--app-button-height);
  border-color: var(--app-button-border-color);
  border-radius: var(--app-button-border-radius);
  cursor: pointer;
  appearance: none;

  &:hover {
    --app-button-bg: rgb(var(--app-color-primary-dark));
  }

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }

  &--content-reversed {
    flex-direction: row-reverse;
  }

  &__text {
    display: flex;
    align-items: center;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &--md {
    --app-button-border-radius: 18px;
    --app-button-height: 36px;
  }

  &--lg {
    --app-button-border-radius: 24px;
    --app-button-height: 48px;
    --app-button-padding-inline: 20px;
    --app-button-font-size: var(--app-text-size-base);
  }

  &--xl {
    --app-button-border-radius: 34px;
    --app-button-height: 50px;
    --app-button-padding-inline: 14px;
    --app-button-font-size: var(--app-text-size-lg);

    @include common.media(tablet) {
      --app-button-height: 70px;
      --app-button-padding-inline: 20px;
    }
  }

  &--fill.btn--secondary {
    &:hover {
      background-color: rgb(var(--app-color-secondary-dark));
    }
  }

  &--transparent {
    --app-button-bg: transparent;
    --app-button-border-color: transparent;
    --app-button-color: rgb(var(--app-color-primary));
    --app-button-padding-inline: 0;
    text-decoration: underline;
    font-weight: 600;

    &:hover {
      --app-button-bg: transparent;
    }
  }

  &--outline {
    --app-button-bg: transparent;

    &:hover {
      --app-button-bg: rgb(var(--app-color-primary));
      --app-button-color: rgb(var(--app-color-light));
    }
  }

  &--primary.btn--outline {
    --app-button-color: rgb(var(--app-color-primary));
    --app-button-border-color: rgb(var(--app-color-primary));

    &:hover {
      --app-button-color: rgb(var(--app-color-light));
    }
  }

  &--secondary {
    --app-button-bg: rgb(var(--app-color-secondary));
    --app-button-border-color: rgb(var(--app-color-secondary));
  }

  &--secondary.btn--outline {
    --app-button-bg: transparent;
    --app-button-border-color: rgb(var(--app-color-secondary));
    --app-button-color: rgb(var(--app-color-secondary));

    &:hover {
      --app-button-color: rgb(var(--app-color-light));
      --app-button-bg: rgb(var(--app-color-secondary));
    }
  }

  &--icon-right {
    flex-direction: row-reverse;
  }
}
