.filter-category {
  &__list {
    display: grid;
    row-gap: 24px;
  }

  &__show-more-btn {
    text-decoration: none;
    width: 100%;
  }

  &__show-more-btn--active {
    svg {
      transform: rotate(180deg);
    }
  }
}
