@use '@/style/03-mixins/common.mixins' as common;

.filter-category {
  display: grid;
  row-gap: 24px;
  padding-bottom: 16px;

  &__show-more-btn {
    text-decoration: none;
  }

  &__show-more-btn--active {
    svg {
      transform: rotate(180deg);
    }
  }
}
