@use '@/style/02-utils/_utils.animation' as animation;
@use '@/style/03-mixins/common.mixins' as common;

.modal {
  --modal-padding: 12px;

  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: show 0.25s ease forwards;
  z-index: 100;

  @include common.media(tablet_md) {
    --modal-padding: 20px;
  }

  &__box {
    --modal-margin: 20px;

    position: relative;
    background-color: rgb(var(--app-color-light));
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;

    @include common.media(mobile_md) {
      max-height: calc(100% - var(--modal-margin) * 2);
      max-width: calc(100% - var(--modal-margin) * 2);
      width: 90%;
      height: auto;
      border-radius: 20px;
    }

    @include common.media(tablet) {
      width: 80%;
    }
  }

  &__close-btn {
    position: absolute;
    top: 14px;
    right: 12px;
  }

  &__header {
    background-color: rgb(var(--app-color-light));
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: var(--modal-padding);
  }

  &__header-heading {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__footer {
    padding: var(--modal-padding);
    background-color: rgb(var(--app-color-light));
  }
}

.modal-open {
  overflow: hidden;
}
