.block-months {
  display: grid;
  row-gap: 12px;

  &__content {
    display: grid;
    row-gap: 12px;
    background-color: rgb(var(--app-color-light));
    border-radius: 12px;
    padding: 16px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .counter {
    max-width: 160px;
    width: 100%;
    margin-inline: auto;
  }
}

.month-btn {
  position: relative;
  display: flex;
  gap: 8px;
  width: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding-inline: 20px;
  border-radius: 10px;
  white-space: nowrap;
  font-weight: 600;
  font-size: var(--app-text-size-sm);
  color: rgb(var(--app-color-dark));
  border: 1px solid rgb(228 221 215);
  background-color: rgb(var(--app-color-light));
  cursor: pointer;

  &--selected {
    color: rgb(var(--app-color-light));
    background-color: rgb(var(--app-color-primary-dark));
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;

    &:focus ~ .month-btn__border {
      border: 2px solid rgb(var(--app-color-primary-dark));
    }
  }

  &__border {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
}

.months-info {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 12px;
  background-color: rgb(var(--app-color-light));
  text-align: center;
  font-size: var(--app-text-size-sm);
  color: rgb(var(--app-color-dark));
  height: 48px;

  &__date {
    font-weight: 800;
  }
}
