@font-face {
  font-family: 'icomoon';
  src: url('icons/icomoon.eot?vh6h5k');
  src:
    url('icons/icomoon.eot?vh6h5k#iefix') format('embedded-opentype'),
    url('icons/icomoon.ttf?vh6h5k') format('truetype'),
    url('icons/icomoon.woff?vh6h5k') format('woff'),
    url('icons/icomoon.svg?vh6h5k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change icons */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: '\e90a';
}
.icon-location:before {
  content: '\e909';
}
.icon-star:before {
  content: '\e908';
}
.icon-chevron-down:before {
  content: '\e907';
}
.icon-cross:before {
  content: '\e906';
}
.icon-minus:before {
  content: '\e904';
}
.icon-plus:before {
  content: '\e905';
}
.icon-check:before {
  content: '\e903';
}
.icon-edit:before {
  content: '\e900';
}
.icon-eye-crossed:before {
  content: '\e901';
}
.icon-search:before {
  content: '\e902';
}
