.filter-skeleton {
  display: grid;
  row-gap: 16px;
  padding: 16px;
  background-color: rgb(var(--app-color-light));
  border-radius: 28px;

  &__heading {
    height: 24px;
    width: 80%;
    border-radius: 4px;
  }

  &__list {
    display: grid;
    row-gap: 10px;
  }
}

.checkbox-skeleton {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 60%;

  &__mark {
    flex: 0 1 24px;
    height: 24px;
    border-radius: 4px;
  }

  &__label {
    flex: 1;
    height: 24px;
    border-radius: 4px;
  }
}
